/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


body {
    background-color: #c7c7c7;
    font-family: Lato;
    font-size: 20px;
}

button,  input{
    font-size: 20px;
}

.row-container
{
    display: inline-block;
}

.row-container > .submit {
    position: absolute;
    right: 0px;
}

.row-container > .search-bar{
    min-width: 50%;
}

.full-width
{
    width: 100%;
}

.separated
{
    margin-bottom: 20px;
}


.row-item
{
    flex:1;
}


/*
.outer
{
    width:100%;
    margin:0px;
}
.inner
{
    display: inline-block;
}

div.inner{
    width:10%;
}

 div.inner > button{
    width:100%;
    height:100px;
 }


span {
    width: 60%;
    margin: 0px;
    background-color: #fff;

}

.search-bar-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.search-bar{
    width:70%;
}

.submit{
    height:50px;
}


.author-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    width: 100%;
}

.author{
    height: 100px;
}

.author > button {
    width:100%;
    height:100px;
}

.author-container > button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
*/