<!DOCTYPE html>
<html>

<head>
    <title>Hello</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1> Auteurs disponibles</h1>

    <form class="search-bar-container" method="POST" action="/authors/search/">
        <input class="search-bar" type="text" name="search" id="search">
        <input class="submit" type="submit" value="Rechercher">
    </form>

    {% for author in authors%}
    <div class="author-container">
        <button onclick="location.href='/authors/{{author}}/';"> {{unquote(author)}} </button>
    </div>

    {% endfor %}
</body>




</html>